.left-menu {
    color: white;
    list-style: none;
    padding: 10px;
    /* Adjust the width as needed */
}

.left-menu>li {
    transition: background-color 0.3s, color 0.3s;
    margin-bottom: 5px;
    /* Adjust the spacing between menu items */
}

.left-menu>li:hover {
    background-color: #fff;
    /* Change background color on hover */
    color: #333;
    /* Change text color on hover */
}

.left-menu>li>a {
    text-decoration: none;
    color: white;
    display: block;
    padding: 8px;
    transition: background-color 0.3s;
    /* Adjust the padding as needed */
}

/* Optional: Add a subtle animation to the links */
.left-menu>li>a:hover {
    transform: scale(1.1);
    background-color: #555;
}

.menu {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 200px;
    transition: transform 0.5s ease-in-out;
    /* Smooth sliding */
    background-color: #333;
    z-index: 2;
    overflow-y: auto;
    transform: translateX(-100%);
}

.menu.open {
    transform: translateX(0);
}